{% extends "layout.html" %} {% block content %}
<div class="main-text" style="margin: 80px 150px;">
  <h1 style="padding: 40px">Cant RESIST Learning?</h1>
  <p>
    Resistors are electronic components that are included in circuits to reduce
    current flow and lower voltage levels. The primary use of a resistor is to
    manipulate the current flowing through a circuit to levels that the active
    components require. Each resistor has a set value of resistance measured in
    Ohms (Ω).
    <br />
    <br />
    <br />
    Resistor behaviour is dictated by the physical relationship of Ohm’s law in
    which:
    <br />
  </p>
  <!-- make a formula class -->
  <f> V=I×R </f>
  <p>
    Where V = Voltage, I = Current, and R = resistance.
    <br />
    <br />
    <br />
    A fixed resistor that you can put in a circuit will usually look like this:
    <br />
  </p>
  <img
    src="{{url_for('static', filename='img/Resistor.jpg')}}"
    alt="Image Didnt load :c"
  />
  <p>
    In a diagram however, a resistor can be displayed like either of these:
    <br />
  </p>
  <img
    src="{{url_for('static', filename='img/Resistor-Symbols.png')}}"
    alt="Image Didnt load :c"
  />
  <p>
    for our purposes we will always use the box symbol to IEC standards
    <br />
    <br />
    <br />
    This short course will teach you the basics of Resistor Calculations, and
    how to determine which real world resistor to slot into your circuit. To do
    this make sure you have a pen, paper, and any calculator with you before
    beginning
    <br />
    <br />
    <br />
    Our website can track your progress through signing up for an account.
    Although not compulsory it lets us do things like:
    <br />
    <br />
    1
    <br />
    2
    <br />
    3
    <br />
    4
    <br />
    <br />
    So, if interested look at the top right of your screen.
    <br />
    <br />
    If not, you can complete the lessons by navigating in order, or take them at
    your own pace from the lesson centre.
  </p>
</div>
{% endblock %}
