{% extends "layout.html" %} {% block content %}
<div class="main-text" style="margin: 40px 150px">
  <h1>References</h1>
  <p>
    <br />
    Topic one - An array of axial-lead resistors of varying resistance -
    https://en.wikipedia.org/wiki/Resistor
    <br />
    Topic one - Two common schematic symbols -
    https://en.wikipedia.org/wiki/Resistor
    <br />
    Quiz - Common form of resistor -
    https://electrical-engineering-portal.com/a-look-at-the-power-rating-of-resistors
    <br />
    Quiz - Unnamed capacitor image -
    https://www.build-electronic-circuits.com/how-does-a-capacitor-work/
  </div>
  </p>
</div>
{% endblock %}
