/* Global Variables for Colors, etc. */
:root {
  --header-default: #04aa6d;
  --header-hover: #38d445;
  --header-active: #afe0b4;
  --header-login: #c7c7c7;
  --header-height: 45px;

  --shading: #e4e4e4;

  --button-primary-color: #44c767;
  --button-secondary-color: #5cbf2a;
}

body {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: black;
}

#main-header {
  position: sticky;
  top: 0;
  width: 100%;

  overflow: visible;
}

/* Set up grid layer for header for links */
/* Header container */
#main-header > ul {
  list-style-type: none;
  padding: 0;
  margin: 0px;
  background-color: var(--header-login);

  display: grid;
  grid-template-columns: repeat(6, 3fr) 2fr;
  grid-template-rows: var(--header-height);
}

/* Configuring layout for links in header */
.header-item {
  background-color: var(--header-default);
  color: #000000;
  text-decoration: none;
  font-family: "Courier New", Courier, monospace;
  font-size: 20px;
}

/* Hovering link */
.header-item:hover {
  background-color: var(--header-hover);
}

/* Currently active link */
.header-item.active {
  background-color: var(--header-active);
  font-weight: bold;
}

/* Topics finished */
.header-item.finished {
  text-decoration: underline;
}

.header-item > li {
  text-align: center;
  vertical-align: middle;
  line-height: var(--header-height);
}

/* bottom used to center icon */
.header-item img {
  padding-right: 15px;
  position: relative;
  bottom: -3px;
}

.header-item img + span {
  margin: 0;
}

/* Special box for login/logout */
#login {
  text-align: center;
  font-size: 14px;
  grid-column: 7 / 8;
  line-height: var(--header-height);
}

/* In a logged out state there are two links */
#login > span {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}

/* Set up grid layer for general layout */
/* Body container */
#body-wrapper {
  display: grid;
  grid-template-columns: 1fr 10px;
  grid-template-areas: 
    "body    sidebar";
}
  
/* Main content */
#content {
  grid-area: body;
  padding: 0px 2%;
}
  
/* Side bar */
/* BANDAID FIX APPLIED: STICKY POSITIONED HEADERSIZE DOWN*/
/* Recommended: Remove sidebar from grid */
#progress {
  grid-area: sidebar;
  position: sticky;
  align-self: start;
  top: var(--header-height);
  height: 100%;
}

/* Progress bar */
#progress-bar {
  position: fixed;
  background-color: #44c767;
  height: 0%;
  width: 20px;
}

.main-text {
  margin-right: 25%;
  margin-left: 15%;
  text-align: center;
  font-size: 20px;
}

/* Practice Quiz Area */
.practice-quiz-container {
  padding: 10px 15px;
  border-radius: 8px;
  background-color: var(--shading);
  display: none;
  overflow: hidden;
}

/* Button for quizzes */
.quiz-button {
  padding: 8px 10px;
  border-radius: 8px;
  display: inline-block;
  background: linear-gradient(var(--button-primary-color), var(--button-secondary-color));
  background-color: var(--button-primary-color);

  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;

  cursor: pointer;
}

.quiz-question {
  color: red;
}

.quiz-values {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.practice-quiz-container form{
  display: none;
}

footer{
  background-color: grey;
  width: 100%;
}

.results-question-box{
  margin: 20px;
  padding: 10px;
}


/* Responsive for smaller screen sizes */
@media only screen and (max-width: 600px) {
  
  .header-item {
    font-size: 8px;
  }

  .header-item img {
    display: none;
  }

  .header-item:first-child {
    text-align: left;
  }
}