<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{{url_for('static', filename='js/page-script.js')}}"></script>

    <!-- Not currently using bootstrap (I am currently to have two columns side by side on results page, you can change later - Lily)-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{url_for('static', filename='css/layout.css')}}">
    <link rel="shortcut icon" href="{{url_for('static', filename='favicon.ico')}}">
    <title>CITS3403 Project</title>
</head>
<body>
  <header id="main-header">
    <ul> 
      <a class="header-item" href="{{url_for('home')}}">
        <li><img src="{{url_for('static', filename='favicon.ico')}}" alt=""><span>Home</span></li>
      </a>
      <a class="header-item" href="{{url_for('one')}}">
        <li>TOPIC ONE</li>
      </a>
      <a class="header-item" href="{{url_for('two')}}">
          <li>TOPIC TWO</li>
      </a>
      <a class="header-item" href="{{url_for('three')}}">
        <li>TOPIC THREE</li>
      </a>
      <a class="header-item" href="{{url_for('four')}}">
        <li>TOPIC FOUR</li>
      </a>
      <a class ="header-item" href="{{url_for('quiz')}}">
        <li>Quiz</li>
      </a>
      {% if current_user.is_authenticated %}
      <li id="login">
        <a href="{{url_for('account', username = current_user.username)}}">Account</a>
        <a href="{{url_for('logout')}}">Logout</a>
      </li>
      {% else %}
      <li id="login"> 
        <span>
          <a href="{{url_for('login')}}">Login</a>
          <br>
          <a href="{{url_for('register')}}">Register</a> 
        </span>
      </li>
      {% endif %}
    </ul>
  </header>
  {% for category, message in get_flashed_messages(with_categories=True) %}
    <div class="alert alert-{{category}}" role="alert">{{ message }}</div>
  {% endfor %}
  <div id="body-wrapper">
    <main id="content">
      {% block content %}{% endblock %}
      <p id="debug"></p>
      <div class="practice-quiz-container">
        <button class="quiz-button" id="show-quiz"> Test your knowledge </button>
        <form class="practice-form" action="">
          <input type="text" class="quiz-input" id="practice-answer"> 
          <button type="submit" class="quiz-button"> Check answer </button>
        </form>
      </div>
    </main>
    <aside id="progress">
      <div id="progress-bar"></div>
    </aside>
  </div>
  <footer> 
    <a href="javascript:resetProgress()">Reset your progress</a>
  </footer>
</body>
</html>
