<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Not currently using bootstrap-->
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"> -->
    <link rel="stylesheet" href="{{url_for('static', filename='css/layout.css')}}">
    <link rel="shortcut icon" href="{{url_for('static', filename='favicon.ico')}}">
    <title>CITS3403 Project</title>
</head>
<body>
  <header class="login">
    <a href="{{url_for('home')}}">Home</a>
    {% if current_user.is_authenticated %}
    <a href="{{url_for('logout')}}">Logout</a>
    {% else %}
    <a href="{{url_for('login')}}">Login</a>
    <a href="{{url_for('register')}}">Register</a>
    {% endif %}
  </header>
    <main>
      <div>
        {% block content %}{% endblock %}
      </div>
    </main>
</body>
</html>
