{% extends "layout.html" %}

{% block content %}
    <h1>Sign In</h1>
    <form action="" method="POST">
        {{ form.hidden_tag() }}
        <fieldset class="form-group border-bottom mb-4">
            <div class="form-group">
                {{ form.email.label() }}
                {% if form.email.errors %}
                    {{ form.email() }}
                    <div>
                        {% for error in form.email.errors %}
                            <span>{{ error }}</span>
                        {%endfor%}
                    </div>
                {% else %}
                    {{ form.email() }}
                {%endif%}
            </div>
            <div class="form-group">
                {{ form.password.label() }}
                {% if form.password.errors %}
                    {{ form.password() }}
                    <div>
                        {% for error in form.password.errors %}
                            <span>{{error}}</span>
                        {%endfor%}
                    </div>
                {% else %}
                    {{ form.password() }}
                {%endif%}
            </div>
            <div>
                {{ form.remember()}}
                {{ form.remember.label()}}
            </div>
        </fieldset>
        <div>
            {{ form.submit()}}
        </div>
    </form>

    <div>
        <small>
            <a href="{{ url_for('register')}}" style="color: black;">Sign Up</a>
        </small>
    </div>
{% endblock %}
