{% extends "layout.html" %}
{% block content %}
    <h1>Quiz</h1>
    <div>
        <form method = "POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class = "form-group">
                <!-- Question 1 -->
                <p>
                    {{data[0]}}
                </p>
                <div class = "form-group">
                    {{ form.answer1(class="form-control form-control-lg") }}
                </div>

                <!-- Question 2 -->
                <p>
                    {{data[1]}}
                </p>
                <div class = "form-group">

                        {{ form.answer2(class="form-control form-control-lg") }}
                </div>

                <!-- Question 3 -->
                <p>
                    {{data[2]}}
                </p>
                <div class = "form-group">

                        {{ form.answer3(class="form-control form-control-lg") }}
                </div>
            </fieldset>
            <div class = "form-group">
                {{ form.submit(class = "btn btn-outline-info")}}
            </div>
        </form>
    </div>
{% endblock %}